<h3>Popular posts</h3>

<div class="row post" *ngFor="let post of posts">
    <div class="col-md-1">
        
        <div class="d-flex flex-column votebox">
            <div class="p-2">
                <fa-icon  class="upvote" [icon]="faArrowUp"></fa-icon>
            </div>
            <div class="p-2 votecount">{{post.score}}</div>
            <div class="p-2">
                <fa-icon class="downvote" [icon]="faArrowDown"></fa-icon>
            </div>
        </div>
    </div>
    <div class="col-md-11">
        <span class="subreddit-info">
            <span class="subreddit-text"><a class="posturl" routerLink="">{{post.data.subreddit_name_prefixed}}</a></span>
            <span> . Posted by <a class="username">{{post.data.author_fullname}}</a></span>
            <span> . 11 hours ago</span>
        </span>
        
        <div class="post-title">
            <a class="postname" [routerLink]="['/comments-page',post.data.permalink]">{{post.data.title}}</a>
        </div>
        <span>
            <a class="btnCommments">
                Comments({{post.data.num_comments}})
            </a>   
        </span>
        <hr/>
    </div>
</div> 

